@using ButceYonet.Auth.ViewModels
@using DotBoil.Localization
@using DotBoil.Parameter
@inject ILocalize localize
@inject IParameterManager parameters
@inject IConfiguration configuration
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    var currentUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
    var parameterLogo = await parameters.GetParameterValue<string>("AuthGuard", "Logo");
    var parameterLogoDark = await parameters.GetParameterValue<string>("AuthGuard", "LogoDark");
    var externalSignInManagers = configuration.GetSection("DotBoil:ExternalSignInManagers").Get<List<ExternalSignInManagerViewModel>>() ?? new List<ExternalSignInManagerViewModel>();
    var registerUrl = $"/Authorize/Register{Context.Request.QueryString}";
    var forgotPasswordUrl = $"/Authorize/forgot_password{Context.Request.QueryString}";
}

@model ButceYonet.Auth.ViewModels.SignInViewModel

<div class="row m-0">
    <div class="col-12 p-0">
        <div class="login-card login-dark">
            <div>
                <div><a class="logo" href="@currentUrl"><img class="img-fluid for-light" src="@parameterLogo"><img class="img-fluid for-dark" src="@parameterLogoDark"></a></div>
                <div class="login-main">
                    <form class="theme-form" method="post">
                        <partial name="_Language"/>
                        <h4>@await localize.LocalizeText("Login", "SignInTitle")</h4>
                        <p>@await localize.LocalizeText("Login", "SignInSubTitle")</p>
                        
                        @if (ViewBag.Message != null)
                        {
                            <p>@ViewBag.Message</p>
                        }
                        
                        @foreach (var query in Context.Request.Query)
                        {
                            <input type="hidden" name="@query.Key" value="@query.Value"/>
                        }
                        <div class="form-group">
                            <label class="col-form-label">@await localize.LocalizeText("Login", "EmailAddress")</label>
                            <input class="form-control" type="email" required="" placeholder="user@gmail.com" asp-for="Email">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">@await localize.LocalizeText("Login", "Password")</label>
                            <div class="form-input position-relative">
                                <input class="form-control" type="password" required="" placeholder="*********" asp-for="Password">
                                <div class="show-hide"><span class="show"><i class="fa fa-eye"></i> </span></div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="form-check">
                            </div>
                            <a class="link" href="@forgotPasswordUrl">@await localize.LocalizeText("Login", "ForgotPassword")</a>
                            <div class="text-end">
                                <button class="btn btn-primary btn-block w-100 mt-3" type="submit">@await localize.LocalizeText("Login", "SignIn")</button>
                            </div>
                        </div>
                        @if (externalSignInManagers.Any())
                        {
                            <h6 class="text-muted mt-4 or">@await localize.LocalizeText("Login", "OrSignInWith")</h6>
                            <div class="social mt-4">
                                <div class="btn-showcase">
                                    @foreach (var externalSignInManager in externalSignInManagers)
                                    {
                                        <a class="btn btn-light" href="/connect/@externalSignInManager.ServiceName" target="_self">
                                            <i class="@externalSignInManager.Logo"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                        <p class="mt-4 mb-0 text-center">@await localize.LocalizeText("Login", "DontHaveAccount")<a class="ms-2" href="@registerUrl">@await localize.LocalizeText("Login", "CreateAccount")</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function (){
        var element = document.getElementsByClassName('show-hide')[0];
        
        if (element === undefined)
            return;
        
        element.addEventListener('click', function (){
            var iconElement = document.querySelector('i', element);
            if (iconElement === null || iconElement === undefined)
                return;
            
            var className = iconElement.className;
            var typeName = 'password';

            if (className === 'fa fa-eye'){
                iconElement.classList.remove('fa-eye');
                iconElement.classList.add('fa-eye-slash');
                
                typeName = 'text';
                
            }else{
                iconElement.classList.remove('fa-eye-slash');
                iconElement.classList.add('fa-eye');
            }   
            
            document.getElementById('Password').type = typeName;
        })        
    })
</script>